.button{
  &_btn-more-howto{
    position: relative;
    display: block;
    padding: 20px 20px;
    width: 100%;
    background-color: $line-after-section-title;
    font-size: 14px;
  }
  &_btn-more-howto:after{
    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
.order-belt{
  background-color: #e5e5e5;
}
.order-belt input::placeholder{
  color: $subtitle-color;
}
.contact-form_inline{
  color: $main-text-color;
}