@import "variables";
@import "mixins";
html{
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  line-height: 1.2;

}
*{
  box-sizing: inherit;
}
body{
  color: $main-text-color;
  font-family: 'Montserrat', sans-serif;
}
.container{
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.border-200vh{
  position: absolute;
  top:200vh;
}
.btn-to-top{
  position: fixed;
  left: 10px;
  bottom: 20px;
  display: none;

}
.text-us{
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 11;
}
.text-us-telegram{
  background-color: #3e99d8;
}
.text-us-viber{
  background-color: #665cac;
}

.text-us-icon{
  border-radius: 50%;
  width: 54px;
  height: 54px;
  margin-bottom: 7px;
}
.text-us-icon>a{
  width: 54px;
  height: 54px;
  @include flexContainer-center;
}
.trigger-close{
  z-index: 12;
}
.section{
  padding-top:60px;
  padding-bottom: 40px;
  &_dark{
    background-color: $subtitle-color;
  }
}

@import "sections/header";
@import "sections/navigation";
@import "sections/contact-form";
@import "sections/belts";
@import "sections/order-belt";
@import "sections/delivery";
@import "sections/install";
@import "sections/payment";
@import "sections/gallery";
@import "sections/contacts";
